{% if Session.has('errorMessages') %}
    <ul class="alert alert-danger">
        <b>Please fix these errors:</b><br><br>
        {% for error in Session.get('errorMessages') %}
            <li > {{error }}</li>
        {% endfor %}
    </ul>
{% endif %}